@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-darkGreen: #5F7161;
  --color-lightGreen: #6D8B74;
  --color-beige: #EFEAD8;
  --color-grey: #D0C9C0;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  background-color: whitesmoke;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

p {
  color: #000;
  line-height: 1.6;
}