body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.outer-wrapper{
  width: 100%;
  height: 100%;
  margin: 0px;  
}

.inner-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto;
}


p{
  line-height: 1.4;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  max-width: 450px;
  margin: 0px 10px 0px 0px;
  font-size: 16px;
  padding: 10px;
  padding-right: 20px;
}

.section{
  display: flex;
  flex-direction: column;
  }

  a{
      text-decoration: none;
      color:  black; 
    
   }


  

.section p a{
  color:#f09254;
}

/* .description{
  mix-blend-mode:luminosity;
  font-size: 4vw;
} */
