.main-header {
    width: 100vw;
    height: 50vh;
    background-color: tomato;
    position: relative;
    display: flex;
    flex-direction: row;
}

.paragraph {
    width: 100px;
}
.profile-image {
    /* Position absolute allows us to move it inside the element */
    position: absolute;
    /* Only possible to choose right or lest, bottom or top. This is common to wright in pizels too */
    right: 25%;
    bottom: -10%;
    border: 2px solid white;
    /* left
    top */
    border-radius: 50%;
}
